<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css"/>
        <title>Books</title>
    </head>
    <body>
        <h1 id="center">Books</h1>
        <div id="app">
            <div v-if="loading">
                <p>Loading...</p> 
            </div>
            <div v-else>
                <h3 id="center">Search for a book</h3>
                <form @submit.prevent="searchBooks" id="center">
                    <input v-model="search" placeholder="Title" id="center"></p>
                    <br />
                    <button type="submit">Search</button>
                </form>
                <br/>
                <button @click="showAll()" id="center">Show Favorite Books</button>
                <h3>Book titles</h3>
                <div v-if="loading">
                        <p>Loading...</p> 
                </div>
                <div v-else>
                    <div v-for="b in data.docs">
                        <div v-if="b.publish_date">
                            <p>{{b.title}}</p>
                            <p>Author:   {{b.author_name}}</p>
                            <p>Publish Date: {{b.publish_date[0]}}</p>
                            <div v-if="b.isbn">
                                <p>ISBN: {{b.isbn[0]}}</p>
                            </div>
                            <button @click="favoriteBook()">Favorite Book</button>        
                        </div>
                        <div v-else>
                            <p>{{b.title}}</p>
                            <p>Author:   {{b.author_name}}</p>
                            <div v-if="b.isbn">
                                <p>ISBN: {{b.isbn[0]}}</p>
                            </div>
                            <button @click="favoriteBook()">Favorite Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="./script.js"></script>
    </body>
</html>
